@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@400;500;700;900&display=swap");

// Fonts

$primary-font: "Roboto", sans-serif;
$secondary-font: "Permanent Marker", cursive;

// Colors

$primary-color: #679893;
$secondary-color: #70748f;
$tertiary-color: #67987a;
$white: #ffffff;
$black: #000000;
$light-gray: #eeeeee;
$gradient1: #bdc3c7;
$gradient2: #2c3e50;
