@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 5rem;
  letter-spacing: 0.7rem;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
  text-align: center;
}

h2 {
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
  letter-spacing: 0.7rem;
  text-align: center;
}

h3 {
  color: #ffffff;
  text-align: center;
  font-size: 3rem;
}

nav {
  background-color: #70748f;
  padding: 2rem 2rem 2rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}
nav ul a {
  color: #ffffff;
  font-size: 1.8rem;
  padding: 2rem 3rem;
  transition: 1s ease;
}
nav ul a:hover {
  background-color: #67987a;
}

footer {
  padding: 2rem 0;
  background-color: #70748f;
  color: #ffffff;
  text-align: center;
}
footer p {
  font-size: 1.5rem;
}

.welcome {
  height: 100vh;
  background-color: #679893;
}
.welcome p {
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
  text-align: center;
}
.welcome h1 {
  padding-top: 10rem;
}
.welcome p {
  font-size: 3rem;
}
.welcome .lottie-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.welcome .developer-lottie {
  width: 35rem;
}
.welcome .cooking-lottie {
  width: 30rem;
}
.welcome .lottie {
  padding: 0 3rem;
  padding-bottom: 3rem;
  border: 3px solid #ffffff;
  border-radius: 5rem;
  margin-top: 5rem;
  text-align: center;
  transition: 1s ease;
}
.welcome .lottie a {
  text-decoration: none;
  color: #ffffff;
  padding: 1rem 2rem;
  background-color: #70748f;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 2rem;
  transition: 1s ease;
}
.welcome .lottie:first-of-type {
  margin-right: 8rem;
}
.welcome .lottie:last-of-type {
  padding-left: 5.5rem;
  padding-right: 5.5rem;
}
.welcome .lottie:hover {
  background-color: #70748f;
  border-color: #000000;
  transform: scale(1.1);
}
.welcome .lottie:hover a {
  background-color: #67987a;
}

.contact {
  background-color: #70748f;
  padding-top: 5rem;
}
.contact .contact-container {
  padding: 5rem 0 3rem 0;
  text-align: center;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#bdc3c7, #2c3e50);
  border-radius: 50%;
}
.contact h2 {
  font-size: 5.5rem;
}
.contact p {
  font-size: 2rem;
  text-align: justify;
  color: #ffffff;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}
.contact .social-icons {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-shadow: 2px 2px 1px #70748f;
}
.contact .social-icons a {
  color: #ffffff;
  margin-right: 2.5rem;
  transition: 0.4s ease;
  font-size: 2.5rem;
}
.contact .social-icons a:hover {
  transform: translateY(0.8rem);
}
.contact .social-icons i {
  margin-right: 1rem;
  font-size: 2.5rem;
}
.contact .home-arrow {
  color: #ffffff;
  width: 90px;
  height: 90px;
  padding-top: 25px;
  border-radius: 50%;
  background-color: #70748f;
  margin-top: 10rem;
  box-shadow: 0.1rem 0.1rem 2rem #000000;
  transition: 0.8s ease;
}
.contact .home-arrow i {
  font-size: 4rem;
  transition: 0.8s ease;
}
.contact .home-arrow:hover {
  box-shadow: 0.1rem 0.1rem 2rem #679893;
}
.contact .home-arrow:hover i {
  transform: rotate(360deg);
}

.project-welcome {
  background-color: #679893;
}
.project-welcome h1 {
  padding: 8rem 0 3rem 0;
  font-size: 7rem;
  text-align: center;
}
.project-welcome .mobile-app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
  margin-bottom: 5rem;
  padding-bottom: 10rem;
}
.project-welcome .mobile-app-container h2 {
  color: #70748f;
  font-size: 8rem;
}
.project-welcome .mobile-app-container h3 {
  color: #ffffff;
  background-color: #67987a;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-size: 4rem;
}
.project-welcome .fitness-app {
  width: 36rem;
  height: 64rem;
  margin-top: 4rem;
  transform: rotate(-30deg) skew(25deg) scale(0.8);
  transition: 0.5s;
}
.project-welcome .fitness-app img {
  position: absolute;
  width: 100%;
  transition: 0.5s;
}
.project-welcome .fitness-app:hover .pt3 {
  transform: translate(-5rem, -4rem);
  opacity: 0.6;
}
.project-welcome .fitness-app:hover .pt2 {
  transform: translate(5rem, -7rem);
  opacity: 0.8;
}
.project-welcome .fitness-app:hover .pt1 {
  transform: translate(15rem, -10rem);
  opacity: 1;
}
.project-welcome .feedback-app {
  width: 60rem;
  height: 37.5rem;
  margin-top: 4rem;
  transition: 0.5s;
  transform: rotateX(-40deg) rotateZ(-40deg) rotateY(-20deg) skew(-5deg);
  box-shadow: -80px 60px 15px 5px rgba(0, 0, 0, 0.4);
}
.project-welcome .feedback-app img {
  position: absolute;
  width: 60rem;
  transition: 0.5s;
}
.project-welcome .feedback-app:hover {
  margin-top: 12rem;
  transform: unset;
  box-shadow: unset;
}
.project-welcome .feedback-app:hover .mobile-app-container {
  padding-bottom: 10rem;
}
.project-welcome .feedback-app:hover .fd1 {
  transform: translate(20rem, -9rem);
}
.project-welcome .feedback-app:hover .fd2 {
  transform: translate(10rem, -5rem);
}
.project-welcome .feedback-app:hover .fd3 {
  transform: translate(-10rem, 5rem);
}
.project-welcome .feedback-app:hover .fd4 {
  transform: translate(-20rem, 9rem);
}
.project-welcome .website-container h2 {
  font-size: 8rem;
  color: #ffffff;
  padding-bottom: 3rem;
}
.project-welcome .project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  padding-bottom: 5rem;
}
.project-welcome .project {
  background-color: #70748f;
  border-radius: 2rem;
  padding: 2rem 2rem 2rem 2rem;
  transition: 1s ease-in-out;
}
.project-welcome .project img {
  max-width: 60rem;
  width: 40vw;
  height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #ffffff;
  border-radius: 2rem;
  box-shadow: 0.1rem 0.1rem 2rem #000000;
  transition: 1s ease;
}
.project-welcome h3 {
  margin-top: 2rem;
}
.project-welcome .project:hover {
  transform: scale(1.05);
}
.project-welcome .project:hover img {
  box-shadow: 0.1rem 0.1rem 2rem #679893;
}/*# sourceMappingURL=styles.css.map */