@import "./theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
  font-size: 10px;
}

a {
  text-decoration: none;
}

// Nav styles

nav {
  background-color: $secondary-color;
  padding: 1.5rem 2rem 1.5rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;

    a {
      color: $white;
      font-size: 1.8rem;
      padding: 1.5rem 3rem;
      transition: 1s ease;
    }

    a:hover {
      background-color: $tertiary-color;
    }
  }
}

// Welcome section styles starts

.welcome {
  height: 92vh;
  background-color: $primary-color;
  margin-top: 5rem;

  h1,
  p {
    font-family: $secondary-font;
    color: $white;
    text-align: center;
  }

  h1 {
    font-size: 5rem;
    letter-spacing: 0.7rem;
    padding-top: 1rem;
  }

  p {
    font-size: 3rem;
  }

  .lottie-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .lottie {
    padding: 0 3rem;
    padding-bottom: 3rem;
    border: 3px solid $white;
    border-radius: 5rem;
    margin-top: 5rem;
    text-align: center;
    transition: 1s ease;

    a {
      text-decoration: none;
      color: $white;
      padding: 1rem 2rem;
      background-color: $secondary-color;
      font-size: 1.8rem;
      text-align: center;
      border-radius: 2rem;
      transition: 1s ease;
    }
  }
  .lottie:first-of-type {
    margin-right: 5rem;
  }

  .lottie:last-of-type {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }

  .lottie:hover {
    background-color: $secondary-color;
    border-color: $black;
    transform: scale(1.1);

    a {
      background-color: $tertiary-color;
    }
  }
}

// Contact page starts here

.contact {
  background-color: $tertiary-color;
  padding: 5rem 0 13.5rem 0;
  text-align: center;

  h2 {
    font-family: $secondary-font;
    font-size: 5.5rem;
    color: $white;
    letter-spacing: 0.7rem;
    text-align: center;
    padding-top: 5rem;
  }

  p {
    font-size: 2rem;
    text-align: justify;
    color: $white;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
  }

  .social-icons {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-shadow: 2px 2px 1px $secondary-color;

    a {
      color: $white;
      margin-right: 2.5rem;
      transition: 0.4s ease;
      font-size: 2.5rem;
    }

    a:hover {
      transform: translateY(0.8rem);
    }

    i {
      margin-right: 1rem;
      font-size: 2.5rem;
    }
  }
}

footer {
  padding: 2rem 0;
  background-color: $secondary-color;
  color: $white;
  text-align: center;

  p {
    font-size: 1.5rem;
  }
}
